.dot{
    height: 105px;
    width: 105px;
    background-color: #008051;
    border: 4px rgba(138, 191, 145, 0.74) solid;
    border-radius: 50%;
    display: inline-block;
    align-content: center;
    color: #fff;
    text-align: center;
    margin-right: 7%;
}

.progress-bg {
    width: 45%;
    height: 7.15px;
    border-radius: 4px;
    position: absolute;
    background-color: #008051;
    border: 4px rgb(138, 191, 145, 0.74) solid;
    z-index: -11;
}






aqui
.timeline {
    display: flex;
    align-items: center;
    position: relative;
    margin-top: 30px;
  }
  
  .step {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
  }
  
  .circle {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: #ccc;
    border: 4px solid #ddd;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    color: #444;
    position: relative;
    transition: all 0.4s ease-in-out;
  }
  
  .completed .circle {
    background-color: #008051;
    border-color: rgba(138, 191, 145, 0.74);
    color: white;
  }
  
  .running .circle {
    background-color: #FFD700;
    border-color: rgba(255, 215, 0, 0.74);
  }
  
  .started .circle {
    background-color: #008051;
    border-color: #0f0;
    color: white;
  }
  
  .pulse {
    position: absolute;
    width: 100%;
    height: 100%;
    border: 4px solid rgba(0, 128, 81, 0.5);
    border-radius: 50%;
    animation: pulseEffect 1.5s infinite;
  }
  
  @keyframes pulseEffect {
    0% {
      transform: scale(1);
      opacity: 0.9;
    }
    100% {
      transform: scale(1.5);
      opacity: 0;
    }
  }
  
  .line {
    width: 100px;
    height: 5px;
    background-color: #ccc;
    margin-top: 10px;
    margin-bottom: 20px;
    transition: background-color 0.3s ease;
  }
  
  .line.filled {
    background-color: #008051;
  }
  
  .duration {
    font-size: 12px;
    margin-top: 4px;
    color: #333;
  }
  
  .processing-time {
    margin-left: 20px;
    font-size: 14px;
    font-weight: bold;
    color: #2b2b2b;
  }
  

  .completed {
    background-color: #008051;
    border-color: rgba(138, 191, 145, 0.74);
    color: white;
    transition: all 0.3s ease;
  }
  

  .progress-bar {
    width: 100%;
    height: 7.15px;
    position: relative;
    background-color: #e0e0e0;
    border-radius: 4px;
    margin-bottom: 20px;
  }
  
  .progress-bg {
    height: 100%;
    background-color: #008051;
    border-radius: 4px;
    transition: width 0.5s ease;
  }
  