<form [formGroup]="searchForm" (ngSubmit)="onSearch()" class="filter-container">

  <mat-form-field appearance="outline" class="range-field">
    <mat-label>Enter a date range</mat-label>
    <mat-date-range-input [rangePicker]="rangePicker">
      <input matStartDate formControlName="startDate" placeholder="Start date">
      <input matEndDate formControlName="endDate" placeholder="End date">
    </mat-date-range-input>
    
    <mat-datepicker-toggle matIconSuffix [for]="rangePicker"></mat-datepicker-toggle>
    <mat-date-range-picker #rangePicker></mat-date-range-picker>
  </mat-form-field>

  <button type="submit" mat-flat-button class="btn-search">Search</button>
</form>
