/* Tabs */
.custom-tabs {
  margin-bottom: 10px;
}

/* Filter container */
.filter-container {
  display: flex;
  gap: 10px;
  align-items: center;
  padding: 10px 0;
  flex-wrap: wrap;
}

/* Inputs smaller like your UI */
mat-form-field {
  width: 140px;
}

/* Bigger fields */
mat-form-field:nth-child(3) {
  width: 180px; /* Name */
}

mat-form-field:nth-child(6) {
  width: 220px; /* Date range */
}

/* Buttons */
.reset-btn {
  height: 40px;
}

.search-btn {
  height: 40px;
  border-radius: 20px;
}