<div class="container">
    <div class="icon-group">
      <div class="icon">
        <div class="icon-box">
          <div class="icon-content">
            <div class="icon-circle">
              <div class="icon-padding">
                <div class="icon-inner"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="secondary-icon">
        <div class="icon-padding">
          <div class="icon-inner-alt"></div>
        </div>
      </div>
      <div class="icon">
        <div class="icon-box">
          <div class="icon-content">
            <div class="icon-circle">
              <div class="icon-padding">
                <div class="icon-inner"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  
    <div class="progress-bar">
      <div class="progress-bg"></div>
      <div class="progress-fill"></div>
      <div class="progress-handle"></div>
      <div class="progress-time start">2.15</div>
      <div class="progress-time end">7.32</div>
    </div>
  </div>
  